/* You can add global styles to this file, and also import other style files */

html,

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: #303030;
  color: #fff;
}

.containerc {
  padding: 10px;
  padding-left: 25px;
  padding-right: 25px;
}

.fixedbutton {
  position: fixed;
  bottom: 0px;
  right: 0px;
  padding: 20px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;
}

::-webkit-scrollbar {
  width: 6px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
  background-color: #555;
}

// bootstrap css overwrite
a {
  color: rgb(232, 232, 232);

  &:hover {
    color: rgb(232, 232, 232);
  }
}
